<div class="jumbotron">
    <h1>FUNÇÃO INFORMÁTICA</h1>
	<p>A Função Sistemas destaca-se como fornecedor especializado em soluções de operações de crédito, para o mercado financeiro, atuando desde 1990.</p>
    <p><a href="https://www.funcao.com.br/" class="btn btn-primary btn-lg">Função Informática &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
		<h2>Valores</h2>
		<p>
			Os valores que inspiram a Função Sistemas são:<br>
			• Ética<br>
			• Transparência<br>
			• Compromisso com o Cliente<br>
			• Resultados
		</p>
    </div>
    <div class="col-md-4">
		<h2>Missão</h2>
		<p>Oferecer serviços de Tecnologia da Informação com agilidade, qualidade e comprometimento, agregando valor e inovação ao negócio de nossos clientes.</p>
    </div>
    <div class="col-md-4">
		<h2>Visão</h2>
		<p>Ser empresa de referência, reconhecida como a melhor opção por clientes e colaboradores, devido à qualidade de nossos produtos, serviços e relacionamento.</p>
    </div>
</div> 
